* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  background: linear-gradient(90deg, #673ab7, #03a9f4);
  padding: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  text-align: center;
}

.navbar {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  gap: 40px;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s ease, background 0.3s ease;
  border-radius: 5px;
}

.navbar a:hover {
  color: #673ab7;
  background: #fff;
}

@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      gap: 20px;
  }
}
